In [1]:
import requests 
import json 
import numpy as np
import pandas as pd 
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://pokeapi.co/api/v2/pokemon?limit=1200"
response = requests.get(url)
contenido= response.content

In [3]:
%%time
# Lista completa de pokemones
data = json.loads(response.text)
listado=data["results"]

df=pd.DataFrame(listado)
df=df.drop(labels='url', axis=1)
df.shape

Wall time: 6.13 ms

(1118, 1)

## Funcion por nombre

In [11]:
pokemones=df['name'].unique()

In [13]:
%%time
resultados=[]
for x in pokemones:
    url_stat = "https://pokeapi.co/api/v2/pokemon/"+ str(x)
    response_stat = requests.get(url_stat)
    pokelist= pd.json_normalize(json.loads(response_stat.text))[['id','name','height','weight','base_experience']]
    resultados.append(pokelist)
    df1=df.append(resultados).dropna()
    df1.reset_index(drop=True, inplace=True)
    # df1.to_csv('pokemon.csv', index=False)
df1.sample(10)

Wall time: 11 s

          name    id  height  weight  base_experience
63     kadabra  64.0    13.0   565.0            140.0
1      ivysaur   2.0    10.0   130.0            142.0
49     diglett  50.0     2.0     8.0             53.0
40       zubat  41.0     8.0    75.0             49.0
87      grimer  88.0     9.0   300.0             65.0
94        onix  95.0    88.0  2100.0             77.0
56    primeape  57.0    10.0   320.0            159.0
86     dewgong  87.0    17.0  1200.0            166.0
4   charmeleon   5.0    11.0   190.0            142.0
15      pidgey  16.0     3.0    18.0             50.0

## Agregar TIPO

In [ ]:
%%time
y=0
typelist=[]
for y in pokemones:
    url3 = "https://pokeapi.co/api/v2/pokemon/"+str(y)
    response3 = requests.get(url3)
    contenido3= response3.content
    data3 = json.loads(response3.text)
    results3=data3["types"]
    slot1=results3[0:1]
    tipo=slot1[0]['type']['name']
    typelist.append(tipo)
    
df3 = pd.DataFrame(typelist, columns=['Tipo'])

In [ ]:
bigdata = pd.concat([df1,df3], axis=1)
bigdata.head()

## Graficas

In [ ]:
values=bigdata['Tipo'].value_counts()
tags=bigdata['Tipo'].unique()
values

In [ ]:
sns.set_theme(style="whitegrid")
plt.xticks(rotation=90)
ax = sns.barplot(x=tags, y=values, data=bigdata)

## APENDIX

#### FUNCION X ID

In [ ]:
# %%time
# x=0
# result=[]
# while x < 898:
#         x=x +1
#         url_stat = "https://pokeapi.co/api/v2/pokemon/"+ str(x)
#         response_stat = requests.get(url_stat)
#         pokelist= pd.json_normalize(json.loads(response_stat.text))[['id','name','height','weight','base_experience']]
#         result.append(pokelist)
#         df1=df.append(result).dropna()
#         df1.reset_index(drop=True, inplace=True)
# # df2.to_csv('pokemon.csv', index=False)

In [ ]:
# %%time
# x1=10000
# result1=[]
# while x1 < 10220:
#         x1=x1 +1
#         url_stat1 = "https://pokeapi.co/api/v2/pokemon/"+ str(x1)
#         response_stat1 = requests.get(url_stat1)
#         pokelist1= pd.json_normalize(json.loads(response_stat1.text))[['id','name','height','weight','base_experience']]
#         result1.append(pokelist1)
#         df2=df.append(result1).dropna()
#         df2.reset_index(drop=True, inplace=True)
# # df2.to_csv('pokemon.csv', index=False)

#### Locator Type Fx

In [ ]:
# ## LOCATOR DE TYPE
# url3 = "https://pokeapi.co/api/v2/pokemon/2/"
# response3 = requests.get(url3)
# contenido3= response3.content
# data3 = json.loads(response3.text)
# results3=data3["types"]
# slot1=results3[0:1]
# grass=slot1[0]['type']['name']
# grass

In [ ]:
# def poketype(y):
#     url3 = "https://pokeapi.co/api/v2/pokemon/"+str(y)
#     response3 = requests.get(url3)
#     contenido3= response3.content
#     data3 = json.loads(response3.text)
#     results3=data3["types"]
#     slot1=results3[0:1]
#     tipo=slot1[0]['type']['name']
#     df2['tipo']= tipo
#     return df2